@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/blue.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

.dlabel {
    font-weight: bold;
    padding: 0;
    width: 100;
    height: 50;
    line-height: 50;
    border-color: green;
    border-style: solid;
    border-width: 1;
    background-color: white;
    text-align: center;
}

#dl1, #dl1w {
    width: 150;
    height: 30;
    /*background-color: #aa0000;*/
}

#dl2, #dl2w {
    width: 100;
    height: 100;
    /*background-color: #aaaaaa;*/
}

#dl3, #dl3w {
    width: 200;
    height: 100;
    /*color: white;*/
    /*background-color: #0000aa;*/
}
